body{
    color:slategray;
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
}

h1, h2, h3, p {
    padding: 0px 30px;
}

h1{
    text-align: center;
    font-size: 300%;
    padding: 20px;
}

h1, h2, h3{
    color: darkcyan;

}

img{
    display: block;
    margin: auto;
    width: 90%;
}

.wrapper{

    width: 900px;
    margin: 0 auto;
    background-color: aliceblue;
}

a{
    color:lightskyblue;
}

a:hover{
    color:darkcyan;
}

nav{
    background-color: darkcyan;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: start;
    justify-content: space-between;
    text-align:center;

}

nav > a {
    padding: 0px 20px;
    text-decoration: none;
    font-size: 130%;
    text-align: center;
}

nav > a:hover {
    color: white;
}

.site-logo-image{
    display: inline;
    width: 75px;

}

.site-header{
    margin-bottom: 5px;
}

.sitenav > a{
    padding-top: 10px;
}

.gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: start;
    justify-content: space-between;
    text-align:center;
    
}

.gallery-item{
    height: 250px;
    
}

.gallery-item > img {
    border-radius: 5px;
    transition: width 150ms;
}

.gallery-item > img:hover{
    width: 95%;
}


table{
    margin:auto;
}

table > td, th{
    padding: 10px 30px;
}

.inspo-links{
    text-align: center;
}

i{
    font-size: 150%;
}
