body{
    color:slategray;
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    margin-bottom: 0px;
}

h1, h2, h3, p {
    padding: 0px 30px;
}

h1{
    text-align: center;
}

h1, h2, h3{
    color: darkcyan;

}

img{
    display: block;
    margin: auto;
    width: 50%;
}

.wrapper{

    width: 900px;
    margin: 0 auto;
    background-color: aliceblue;
}

a{
    color:cornflowerblue;
}

a:hover{
    color:darkcyan;
}

nav{
    background-color: skyblue;
    padding: 15px;
}

nav > a {
    text-decoration: none;
    font-size: 130%;
    text-align: center;
    padding: 3px 10px;
    border-radius: 2px;
}

nav > a:hover {
    color: aliceblue;
}

.site-logo-image{
    display: inline;
    width: 75px;

}

.site-header{
    margin-bottom: 10px;
}

.gallery{
    margin-left: 75px;
}

.gallery > img{
    width: 250px;
    display: inline;
}

